:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --slate: #434455;
  --white: #fff;
  --cloud: #f4f4fd;
  --fon: #fff;
  --cornflower: #e7e9fc;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.body {
  font-family: Roboto, sans-serif;
  color: var(--navyblue);
  color: var(--slate);
  background-color: var(--fon);
}
address {
  font-style: normal;
}
img {
  max-width: 100;
  display: block;
}
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.link {
  text-decoration: none;
  color: currentColor;
  list-style: none;
}
.btn {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
/**
  |============================
  | Header
  |============================
*/
.header {
  display: flex;
  height: 72px;

  border-bottom: 1px solid var(--cornflower, #e7e9fc);
}

.header-container {
  display: flex;
  justify-content: space-between;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  align-items: center;
}

.header-list {
  display: flex;
  gap: 40px;
}

.address-list {
  display: flex;
  gap: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);

  margin-right: 76px;
}

.aside {
  color: var(--navyblue);
}

.header-link {
  color: var(--navyblue);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}

.header-link:hover,
.header-link:focus {
  color: var(--ocean);
}

.header-addres {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.header-addres :hover,
.header-addres:focus {
  color: var(--ocean);
}

/**
  |============================
  | main
  |============================
*/

.hero {
  background: var(--navyblue);

  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 48px;
  padding: 188px 0;
}

.hero-title {
  color: var(--white);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin: auto;
  max-width: 496px;
  margin-bottom: 48px;
}
.btn-hero {
  background: var(--iris);
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  display: block;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  cursor: pointer;
  margin: auto;
  border-radius: 4px;

  background-color: var(--iris);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.btn-hero:hover,
.btn-hero:focus {
  background: var(--ocean);
}

.advantages {
  padding: 120px 0;
}

.advantages-list {
  display: flex;
  gap: 24px;
}

.advantages-item {
  width: calc((100% - 72px) / 4);
}

.advantages-subtitle {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.advantages-text {
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 8px;
}

.work {
  padding-bottom: 120px;
}

.work-title {
  color: var(--navyblue);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.work-list {
  margin-top: 72px;

  display: flex;
  gap: 24px;
}

.work-item {
  width: calc((100% - 48px) / 3);
}

.team {
  background-color: var(--cloud);

  padding: 120px 0;
}

.team-title {
  color: var(--navyblue);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;

  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
}

.team-wrap {
  padding: 32px 0;
}

.team-subtitle {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-text {
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.02em;

  text-align: center;
}
/**
  |============================
  | footer
  |============================
*/
.footer {
  background: var(--navyblue);
  padding: 100px 0;
}

.footer-logo {
  color: var(--iris);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  display: inline-block;
  margin-bottom: 16px;
}
.logo-aside {
  color: var(--cloud);
}
.footer-text {
  color: var(--cloud);
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}

.btn-item {
  color: var(--iris);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--cloud);

  display: flex;
  padding: 12px 24px;
  align-items: flex-start;

  border-radius: 4px;
  border: 1px solid var(--cornflower);
}

&:active {
  color: var(--white, #fff);
  border: 1px solid var(--ocean, #404bbf);
  background: var(--ocean, #404bbf);
}

.btn-item:hover,
.btn-item:focus {
  color: var(--white);
  background-color: var(--ocean);
  border: 1px solid transparent;
}

.btn-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.projects {
  padding-top: 96px;
  padding-bottom: 120px;
}

.projects-list {
  row-gap: 48px;
}

.project-item {
  width: calc((100% - 48px) / 3);
}

.projects-img {
  display: block;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
}

.projects-title {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;

  margin-bottom: 8px;
}

.projects-subtitle {
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

*::before,
::after {
  box-sizing: c;
}

.row-one {
  margin-top: 72px;
}

.row-two {
  margin-top: 48px;
}

.row-three {
  margin-top: 48px;
  margin-bottom: 120px;
}

.portfolio-wrap {
  border: 1px solid var(--cornflower, #e7e9fc);
  background: var(--white, #fff);
  border-top: none;

  padding: 32px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
