:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --slate: #434455;
  --white: #fff;
  --cloud: #f4f4fd;
  --fon: #fff;
}

.body {
  font-family: Roboto, sans-serif;
  color: var(--navyblue);
  color: var(--slate);
  background-color: var(--fon);
  width: 1440px;
  margin: auto;
}
address {
  font-style: normal;
}
img {
  max-width: 100;
}
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.link {
  text-decoration: none;
  color: currentColor;
  list-style: none;
}
.btn {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

.container {
  width: 1128px;
  margin: auto;
}
/**
  |============================
  | Header
  |============================
*/
.header {
  display: flex;
  height: 72px;
  /* justify-content: space-between;
  align-items: center; */

  border-bottom: 1px solid var(--cornflower, #e7e9fc);
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-list {
  display: flex;
  column-gap: 40px;

  margin-left: 76px;
}

.address-list {
  display: flex;
  column-gap: 40px;
}

.header-nav {
  display: flex;
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.aside {
  color: var(--navyblue);
}

.header-link {
  color: var(--navyblue);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-link:hover,
.header-link:focus {
  color: var(--ocean);
}
.header-addres {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.header-addres :hover,
.header-addres:focus {
  color: var(--ocean);
}

/**
  |============================
  | main
  |============================
*/
.main {
}
.hero {
  background: var(--navyblue);
  height: 600px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 48px;
}
.hero-title {
  color: var(--white);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;

  width: 496px;
}
.btn-hero {
  background: var(--iris);
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;

  border-radius: 4px;
  background: var(--iris, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.btn-hero:hover,
.btn-hero:focus {
  background: var(--ocean);
}
.advantages {
  padding-top: 120px;
}

.advantages-title {
}
.advantages-list {
  display: flex;
  column-gap: 24px;
}
.list {
}
.advantages-item {
}
.advantages-subtitle {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.advantages-text {
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 8px;
}
.work {
  margin-top: 120px;
}
.work-title {
  color: var(--navyblue);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}
.work-list {
  margin-top: 72px;

  display: flex;
  column-gap: 24px;
}
.work-item {
}
.item {
}
.team {
  background-color: var(--cloud);

  margin-top: 120px;
  padding: 120px 0;
}
.team-title {
  color: var(--navyblue);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}
.team-list {
  display: flex;
  column-gap: 24px;

  margin-top: 72px;
}
.team-item {
  background-color: #fff;
}
.team-subtitle {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding-top: 32px;
  text-align: center;
}
.team-text {
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.02em;

  margin-top: 8px;
  margin-bottom: 32px;
  text-align: center;
}
/**
  |============================
  | footer
  |============================
*/
.footer {
  background: var(--navyblue);
  padding: 100px 0;
}
.logo {
}
.footer-logo {
  color: var(--iris);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-aside {
  color: var(--cloud);
}
.footer-text {
  color: var(--cloud);
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
  margin-top: 17.5px;
}
.projects {
  margin-top: 96px;
}
.btn-item {
  color: var(--iris);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--cloud);

  display: flex;
  padding: 12px 24px;
  align-items: flex-start;

  border-radius: 4px;
  border: 1px solid var(--cornflower, #e7e9fc);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);

  &:active {
    color: var(--white, #fff);
    border: 1px solid var(--ocean, #404bbf);
    background: var(--ocean, #404bbf);
  }
}
.btn-item:hover,
.btn-item:focus {
  color: var(--white);
  background-color: var(--ocean);
}

.btn-list {
  display: flex;
  justify-content: center;
  column-gap: 24px;
}
.btn {
}
.btn-all {
}
.btn-website {
}
.btn-app {
}
.btn-design {
}
.btn-marketing {
}
.projects-list {
  margin-top: ;
}
.projects-item {
}
.projects-img {
}
.projects-title {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.projects-subtitle {
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*  Test */
*::before,
::after {
  box-sizing: c;
}
